<h3>Check out these demos </h3>
<mathL-card-grid>
    <mathL-card routerLink="linear-interpolation" title="Linear Interpolation" icon="compare_arrows" subtitle="Linear interpolation formulas" description="Math and some easings demos"></mathL-card>
    <mathL-card title="Following eyes" icon="remove_red_eye" subtitle="Eyes that look at you" description="Math and some easings demos"></mathL-card>
    <mathL-card title="Bezier curves" icon="timeline" subtitle="Follow up linear interpolation" description="Math and some easings demos"></mathL-card>
    <mathL-card title="To do" icon="filter_tilt_shift" subtitle="To do" description="Math and some easings demos"></mathL-card>
</mathL-card-grid>