<h3>Check out these demos </h3>
<mathL-card-grid>
    <mathL-card routerLink="linear-interpolation" title="Linear Interpolation" icon="compare_arrows" subtitle="Linear interpolation formulas" description="Math and some easings demos"></mathL-card>
    <!-- <mathL-card routerLink="following-eyes" title="Following eyes" icon="remove_red_eye" subtitle="Eyes that look at you" description="Math and some easings demos"></mathL-card> -->
    <mathL-card routerLink="bezier-curves" title="Bezier curves" icon="timeline" subtitle="Follow up linear interpolation" description="Math and some easings demos"></mathL-card>
    <mathL-card routerLink="snap-to-grid" title="Snap to grid" icon="rounded_corner" subtitle="Snap to grid" description="Math for snaping to elements to place in a grid"></mathL-card>
    <mathL-card routerLink="visualizers" title="Visualizers" icon="bar_chart" subtitle="Visualize sorting algorithms" description="Visualize how a sorting algorithm is applied"></mathL-card>
    <mathL-card title="To do" icon="filter_tilt_shift" subtitle="To do" description="Continue with stuff"></mathL-card>
</mathL-card-grid>