/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');
*,
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    box-sizing: border-box;
}